body {
    background-color: grey;
    margin: 0;
    padding: 0;
}

.tela {
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 50%;
    margin-top: 10%;
    overflow: hidden;

}

.tabuleiro {
    overflow: hidden;
    width: 153px;
    height: 153px;
    flex-direction: column;
    background-color: rgb(60, 127, 158);
    overflow: hidden;   
}

.linha {
    display: flex;
    flex-direction: row;    
}

.casa3 {
    display: flex;
    width: 50px;
    height: 50px;
    align-content: center;
    justify-content: center;
    border-right: 1px solid black;
}
#jogar8{
    border-right: none;
}

.casa1 {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.casa2 {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-bottom: 1px solid black;

}

.ganhou {
     visibility: hidden; 
    position: absolute;
    margin-top: 70px;
    top: 25%;
    margin-left: 0;
    right: 40%;
    width: 200px;
    height: 3px;
    background-color: red;     
       
}


.jogada {
    display: flex;
    position: absolute;
    width: 35px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid red;
}

